# General
.DS_Store
*.log
.env
.env.local

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Binarios y temporales
/bin/
/build/
/tmp/

# Go
*.exe
go-service
instrumentation/go-service/go-service
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Rust
target/
**/*.rs.bk
